/*************************************/
/*      Proyecto:   TC34 - 2048      */
/* Realizado por:   ALAN TRAWCZYNSKI */
/*************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --color-background: hsl(39, 24%, 86%);
  --color-board: hsl(184, 39%, 80%);
  --color-gameover: hsla(0, 0%, 60%, 0.7);
  --color-square: hsla(0, 0%, 100%, 0.35);

  --square-0-opacity: 0.4;
}

/* ----------------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  flex-grow: 1;
  background-color: var(--color-background);
}

.board-container {
  position: relative;
}

.gameover-message {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  border-radius: 5px;
  font-size: max(4rem, min(15vw, 15vh));
  text-align: center;
  background-color: var(--color-gameover);
}
.gameover-message--visible {
  opacity: 1;
  transition: opacity 2.5s 0.5s;
}

.board {
  display: grid;
  /* grid-template dynamically set by js */
  height: max(250px, min(60vw, 60vh));
  width: max(250px, min(60vw, 60vh));

  /* gap dynamically set by js */
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--color-board);
}

.board > .square {
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-size dynamically set by js */
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-square);
}

.square-0 {
  opacity: var(--square-0-opacity);
}

.square-new {
  /* transition: opacity 1s 0.5s; */
  animation: show-new-square 0.5s ease backwards;
}
@keyframes show-new-square {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.control-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.new-game {
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* ----------------------------------------------------------------------- */

header {
  display: none;
}
