/*************************************/
/*      Proyecto:   TC34 - 2048      */
/* Realizado por:   ALAN TRAWCZYNSKI */
/*************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  --variable: "de ejemplo";
}
