/*************************************/
/*      Proyecto:   TC34 - 2048      */
/* Realizado por:   ALAN TRAWCZYNSKI */
/*************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --color-background: hsl(39, 24%, 86%);
  --color-board: hsl(184, 39%, 80%);
  --color-square: hsla(0, 0%, 100%, 0.35);
}

/* ----------------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  flex-grow: 1;
  background-color: var(--color-background);
}

.board {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);

  /* height and width dynamically set by js */

  gap: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--color-board);
}

.board > div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-square);
}

/* ----------------------------------------------------------------------- */

header {
  display: none;
}